* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #fff;
  overflow-x: hidden;
}

#layer1,
#layer2 {
  transform: translateX(-50%) scale(1.1);
  transform-origin: center center;
}

.parallax {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
}

/* Apenas nuvens móveis */
#cloud1a,
#cloud2a,
#cloud3a,
#cloud4a,
#cloud1b,
#cloud2b {
  width: 180lvh; /* ou mais, se os deslocamentos forem grandes */
  left: 50%;
  transform: translateX(-50%);
}

/* Imagens do parallax */
.parallax img:not(.logo) {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  max-width: none;
  object-fit: cover;
  transform: translateX(-50%);
}

/* Overlay centralizado */
.overlay {
  position: relative;
  z-index: 5;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* centraliza vertical */
  align-items: center; /* centraliza horizontal */
  text-align: center;
  padding: 0; /* remove padding lateral */
}

/* Menu Button*/
#menu-button {
  width: calc(30px + 4vmin); /* largura do botão */
  height: calc(52.5px + 4vmin); /* altura do botão */
  position: fixed; /* fixa na tela */
  top: 4lvh; /* centralizado verticalmente */
  right: 4lvh; /* distância da borda direita (padding) */
  z-index: 1000; /* garante que fique acima de outros elementos */
  cursor: pointer; /* cursor de link */
  filter: invert();
  mix-blend-mode: exclusion;
}

/* Logo */
.overlay .logo {
  width: calc(15px + 35vmin);
  height: auto;
  margin-bottom: 4.5vmin;
}

/* Título */
.svg-overlay-content h1 {
  display: ruby;
  font-family: "Divenire Mono Black", monospace;
  font-size: calc(15px + 2vmin);
  line-height: 85%;
  letter-spacing: -3px;
  margin-bottom: clamp(-10px, 5vw, -10px);
  color: black;
}

/* Parágrafo */
.svg-overlay-content p {
  font-family: "Divenire Mono Light", monospace;
  font-size: calc(12px + 0.5vmin);
  line-height: 120%;
  text-align: left;
  color: black;
}

#svg-container-compacto {
  width: calc(15px + 35vmin);
  height: auto;
  display: block;
  margin-bottom: clamp(10px, 5vw, 10px);
}

.svg-overlay-content {
  max-width: 700px;
  width: 80%;
}

/* Cursor piscando */
#typewriter::after {
  content: "|";
  margin-left: 2px;
  animation: blink 0.7s infinite;
  color: black;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

#menu-overlay {
  position: fixed;
  inset: 0;
  background: black;
  pointer-events: none;
  opacity: 1; /* sempre visível */
  transform: translateY(-100%); /* começa fora da tela (acima) */
  transition: transform 0.6s ease-in-out;
  z-index: 999;
}

/* Quando ativado, entra no campo de visão */
#menu-overlay.active {
  transform: translateY(0);
}

/* Quando sai, move para baixo */
#menu-overlay.fade-out {
  transform: translateY(100%);
}

span.letter {
  display: inline-block;
  transition: color 0.3s linear;
}

svg polygon,
svg path {
  transition: fill 0.3s linear;
}
